body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 60px;
  gap: 8px;
  width: 95%;
  max-width: 1200px;
  background: white;
  padding: 10px;
  box-sizing: border-box;
}

.box {
  background: #9adf00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 3px;
}


.b1  { grid-column: 1; grid-row: 1 / span 12; }
.b2  { grid-column: 2; grid-row: 1 / span 6; }
.b3  { grid-column: 2; grid-row: 7 / span 6; }
.b4  { grid-column: 3; grid-row: 1 / span 4; }
.b5  { grid-column: 3; grid-row: 5 / span 4; }
.b6  { grid-column: 3; grid-row: 9 / span 4; }

.b7  { grid-column: 4; grid-row: 1 / span 3; }
.b8  { grid-column: 4; grid-row: 4 / span 3; }
.b9  { grid-column: 4; grid-row: 7 / span 3; }
.b10 { grid-column: 4; grid-row: 10 / span 3; }

.b11 { grid-column: 5; grid-row: 1 / span 2; }
.b12 { grid-column: 5; grid-row: 3 / span 2; }
.b13 { grid-column: 5; grid-row: 5 / span 2; }
.b14 { grid-column: 5; grid-row: 7 / span 2; }
.b15 { grid-column: 5; grid-row: 9 / span 2; }
.b16 { grid-column: 5; grid-row: 11 / span 2; }

.b17 { grid-column: 6; grid-row: 1 / span 1; }
.b18 { grid-column: 6; grid-row: 2 / span 1; }
.b19 { grid-column: 6; grid-row: 3 / span 1; }
.b20 { grid-column: 6; grid-row: 4 / span 1; }
.b21 { grid-column: 6; grid-row: 5 / span 1; }
.b22 { grid-column: 6; grid-row: 6 / span 1; }
.b23 { grid-column: 6; grid-row: 7 / span 1; }
.b24 { grid-column: 6; grid-row: 8 / span 1; }
.b25 { grid-column: 6; grid-row: 9 / span 1; }
.b26 { grid-column: 6; grid-row: 10 / span 1; }
.b27 { grid-column: 6; grid-row: 11 / span 1; }
.b28 { grid-column: 6; grid-row: 12 / span 1; }
